<script>
    $(function() {
        validacion();
        $("#fecha").change(function() {
            var edad = calcularEdad($("#fecha").val());
            $("#edad").val(edad);

        });
    });
</script>
<hr>
<hr>
<form id="form_registro" method="POST" action="registroMedico">
    <div>
        <span class="badge badge-danger">Registro</span>
    </div>
    <div id="error"></div>
    <div class="form-group">

        <div class="form-group">

            <div class="col">
                <label for="recipient-name" class="col-form-label">Cedula:</label>
                <input type="text" class="form-control" id="cedula" name="cedula" aria-describedby="cedulahelp">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Apellidos:</label>
                    <input type="text" class="form-control" id="apellido" name="apellido" aria-describedby="apellidoHelp">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Nombres:</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" aria-describedby="nombreHelp">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                <label for="recipient-name" class="col-form-label">Fecha de nacimiento:</label>
                <input id="fecha" type="date" name="fecha_nac" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <div class="col">
                <label for="recipient-name" class="col-form-label">Especialidad:</label>
                <br>
                <select name="especialidad" id="especialidad" class="form-control">
                        <option value="General">General</option>
                        <option value="pediatra">Pediatra</option>
                        <option value="urologo">Urologo</option>
                        <option value="ginecologo">Ginecologo</option>
                    </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group ">
                    <label for="recipient-name" class="col-form-label">Edad:</label>
                    <input type="text" class="form-control" name="edad" id="edad" disabled="true">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group ">
                    <label for="recipient-name" class="col-form-label">Registro:</label>
                    <input id="registro" type="text" class="form-control" name="nro_registro" aria-describedby="registroHelp">
                </div>
            </div>
        </div>


        <span class="badge badge-success">Ingreso datos de Registro </span>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group  ">
                    <label for="exampleInputEmail1">Correo</label>
                    <input type="email" class="form-control" id="correo" aria-describedby="Correo" name="correo">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group ">
                    <label for="recipient-name" class="col-form-label">Clave:</label>
                    <input type="password" class="form-control" id="clave" placeholder="Clave" name="clave">
                </div>
            </div>
        </div>
        <br>

        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="registrar" name="Registrar">
            Registro de Medico
        </button>
    </div>
</form>