<h1>Resultado</h1>
<%= resp[0].desc %>
    <%= dato %>

        <a href="/admin" class="btn btn-success">Volver</a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">operacion</th>
                    <th scope="col">Resultado</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i= 0; i< dato; i++ ){ %>
                    <tr>

                        <th scope="row">
                            <%= i %>
                        </th>

                        <th scope="row">
                            <%= resp[i].desc %>
                        </th>
                        <th scope="row">
                            <%= resp[i].resp1 %>
                        </th>

                    </tr>
                    <%}%>
            </tbody>
        </table>